*{margin: 0;padding: 0;box-sizing: border-box; font-family: 'Roboto';}

a{ text-decoration: none;}

a:hover{
    text-decoration: none !important; 
}

li{ list-style: none; }

.nav-btn a{
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 15px;
    padding: 5px 10px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    margin-top: 5px;
}

.nav-btn-blue a{
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 15px;
    padding: 5px 10px;
    outline: none;
    color: #fff;
    background-color: #29626D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    margin-top: 5px;
}


.nav-btnn a{
    margin: 0 5px;
    padding: 5px 15px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    margin-top: 5px;
}


.footer_section{
    background-color: #111111;
}

.footer_main{
    height: 130px;
}
.footer_mid ul li{
    margin: 12px;
    list-style: none;
}
.footer_mid ul li a{
    color: #f1f1f1;
    font-size: 14px;
}
.footer_right svg{
    margin: 0 10px;
}

.footer_end{
    background-color: #292929;
    height: fit-content;
}

.footer_end p{
    color: #f1f1f1;
    padding: 26px 0px;
    font-size: 14px;
}
.footer_end p span a{
    color: #6eabef;
}

.footer_btn{
    background-color: #eed507 !important;
    padding: 10px 35px !important;
    position: absolute !important;
    right: 15px;
    /* margin-top: 1px; */
}



@media (max-width: 1024px){
    .footer_btn{
        position: relative !important;
        right: 0;
        margin-left: 5px;
    }
    
}


@media (max-width: 768px){
    .footer_mid ul{
        display: grid !important;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 0px 10px;
        padding: 20px 0 !important;
        margin: 0;
    }
    .footer_main{
        flex-direction: column;
        height: fit-content !important;
        padding: 20px 0px;
        justify-content: space-between !important;
    }
    
}

@media (max-width: 425px){
    .footer_end{
        flex-direction: column;
        padding: 0 10px;
    }
}

.faq-divider::before,.faq-divider::after{
    content: "";
    width: 62px;
    height: 2px;
    background-color: #cccccc;
    display: block;
}

.faq-divider img{
    padding: 8px;
}

@media screen and (max-width: 1000px) {
    nav .collapse {
        display: none;
    }

    nav .navbar-toggler {
        display: none;
    }

    .table-and-siddebar>nav {
        display: none;
    }
    nav .profile-dropedown >a{
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    nav .btn {
        display: none;
    }
}

@media screen and (max-width: 1150px) {
    .nav-btn-blue a{
        width: auto;
    }
    .nav-btn a{
        width: auto;
    }
    .nav-btnn a{
        width: auto;
    }
}

.vertical-line {
    content: "";
    width: 1px;
    height: 35px;
    opacity: 1;
    background-color: #cccccc;
    margin-right: 17.07px;
    margin-left: 17.07px;
}

.notification-icon{
	width: 40px !important;
	height: 40px !important;
}

#backtoTopbutton {
  display: inline-block;
  background-color: #646464;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  left: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  border-radius:50%;
}
#backtoTopbutton::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#backtoTopbutton:hover {
  cursor: pointer;
  background-color: #333;
}
#backtoTopbutton:active {
  background-color: #555;
}
#backtoTopbutton.show {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 500px) {
  
  #backtoTopbutton {
    margin: 30px;
  }
}