* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none !important;
}

li {
    list-style: none;
}

.nav-btn a {
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 15px;
    padding: 5px 10px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    margin-top: 5px;
    width: 150px;
    height: 40px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.nav-btn-blue a {
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 15px;
    padding: 5px 10px;
    outline: none;
    color: #fff;
    background-color: #29626D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    margin-top: 5px;
    width: 150px;
    height: 40px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}


.nav-btnn a {
    margin: 0 5px;
    padding: 5px 15px;
    outline: none;
    color: #fff !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 5px;
    width: 150px;
    height: 40px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.nav-btnn-img {
    outline: none;
    color: #fff !important;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;

}

/* Style the tab */
.tab {
    float: left;
    background-color: #ffffff;
    width: 15%;
    height: 880px;
    box-shadow: 2px 0 6px rgba(0,0,0,.1);
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
/* .tab button:hover {
          background-color: ;
        }
        
        /* Create an active/current "tab button" class */
/* .tab button.active {
          background-color: ;
        }  */

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    width: 85%;
    border-left: none;
    height: auto;
    color: #646464;
}

.service-request-color{
    background: #fff ;
    border: 1px solid #e1e1e1;
    padding: 20px 15px;
    margin-bottom: 20px;
    margin-right: 12px;
    margin-left: 12px;
}

.deviderline {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #cccccc;
    margin-top: 5px;
}


.first-row{
    padding-bottom: 20px;
}

.number-and-km{
    justify-content: center !important;
    align-items: center !important;
}

.calander-img {
    width: 16px;
    height: 19px;
    margin-right: 7px;
    margin-top: 3px;
}

.clock {
    width: 17px;
    height: 17px;
    margin-right: 7px;
    margin-top: 3px;
}

.hat-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #aaaaaa;
    padding: 12px;
}

.euro-text {
    color: #1d7a8c;
    size: 20px;
}

.custom-margin-table-two-data {
    margin-top: 15px;
}

.custom-margin-table-two-data-button {
    margin-top: 5px;
}

.number-text {
    color: #1d7a8c;
    size: 24px;
    font-weight: bold;
}

.complete-button {
    background-color: #67b644;
    color: white;
    border: none;
    width: 90px;
    height: 22px;
}

.new-button{
    background-color: #f2bb37;
    color: white;
    border: none;
    width: 90px;
    height: 22px;
}

.Accepted-button{
    background-color: #1fb6ff;;
    color: white;
    border: none;
    width: 90px;
    height: 22px;
}

.Refunded-button{
    background-color: #ff7335;
    color: white;
    border: none;
    width: 90px;
    height: 22px;
}

.tablinks{
    color: #646464 !important;
}

.Expired-button{
    background-color: #bbb;
    color: white;
    border: none;
    width: 75px;
    height: 22px;
}

.Settled-button{
    background-color: #67b644;
    color: white;
    border: none;
    width:  75px;
    height: 22px;
}

.Not-Applicable-button{
    background-color: #ff6b6b;
    color: white;
    border: none;
    width:  110px;
    height: 22px;
}

.UnSettled-button{
    background-color: #ff6b6b;
    color: white;
    border: none;
    width:  75px;
    height: 22px;
}

table {
    border: 1px solid #e1e1e1;
    border-collapse: collapse;
  } 

.container{
    max-width: inherit !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

@media screen and (max-width: 1000px) {
    nav .collapse {
        display: none;
    }

    nav .navbar-toggler {
        display: none;
    }

    .table-and-siddebar>nav {
        display: none;
    }
    nav .profile-dropedown >a{
        display: none;
    }
    
    .tab{
        display: none;
    }
    .tabcontent{
        width: 100%;
    }
}

@media screen and (min-width: 1000px) {
    nav .btn {
        display: none;
    }
}

@media screen and (max-width: 1600px) {
    .deviderline{
        margin-top: 30px;
    }
}

.side-nav li {
    padding-top: 1em;
}

.side-link {
    color: black;
    font-size: 21px;
    padding-left: 15px;
}
.btn-update{

    background: #1fb6ff !important;
    border: none !important;
    font-size: 16px;
    line-height: 24px;
    color: #fff !important;
    transition: all .3s ease;
    width: 100%;
}

.modal-header{
    border-bottom: none !important;
}

.img-custom-class {
	width: 50px !important;
	height: 50px !important;
	border: 1px solid #646464 !important;
	border-radius: 50% !important;
}

.dropdown-toggle::after{
	color: white !important;
}