*{margin: 0;padding: 0;box-sizing: border-box; font-family: 'Roboto';}

a{ text-decoration: none;}

a:hover{
    text-decoration: none !important; 
}

li{ list-style: none; }

.nav-btn a{
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 15px;
    padding: 5px 10px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    margin-top: 5px;
    width: 150px;
height: 40px;
text-align: center;
align-items: center;
display: flex;
justify-content: center;
}

.nav-btn-blue a{
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 15px;
    padding: 5px 10px;
    outline: none;
    color: #fff;
    background-color: #29626D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    margin-top: 5px;
    width: 150px;
height: 40px;
text-align: center;
align-items: center;
display: flex;
justify-content: center;
}


.nav-btnn a{
    margin: 0 5px;
    padding: 5px 15px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    margin-top: 5px;
    width: 100px;
height: 40px;
text-align: center;
align-items: center;
display: flex;
justify-content: center;
}

.modal-header {
    border-bottom: none !important;
}

.btn-primary {
    background: #1d7a8c !important;
    border-color: #fff !important;
}

.btn-lg {
    font-size: 18px;
    line-height: 22px;
    padding: 15px 30px;
}


.forgetpassword{
    color: #1d7a8c;
}

.login-model{
    width: 375px !important;
}

.forgetpasswordmodel{
    width: 400px !important;
}

#forgetpasswordModalCenter .btn {width: 100%;
    margin-bottom: 25px;
    margin-top: 10px;
    border: solid 1px transparent !important;
    border-radius: 40px;
    box-shadow: none !important;
    outline: 0 !important;
}

.modal-body .btn {
    border: solid 1px transparent !important;
    border-radius: 40px;
    box-shadow: none !important;
    outline: 0 !important;
}

.modal-body{
    padding: 25px;
}

.modal-body .btn {
    width: 100%;
    margin-bottom: 25px;
    margin-top: 10px;
}

.btn-lg {
    font-weight: 700;
}

.model-btn {
    align-items: center;
    background-color: #1d7a8c;
    border-radius: 20px;
    border: none;
    width: 100px;
    height: 35px;
    margin-top: 15px;
    color: white;
}


.Customersay-part.email-btn{
    top: 0;
    bottom: 0;
    width: 99px;    
    border-radius: 20px;
    opacity: 1;
    background-color: #FF7B6D;
}

.Ellipse-649 {
    width: 48px;
    height: 48px;
    margin: 57px 83px 76px 70px;
    padding: 18px 14px 20px;
    background-color: #525252;
}
.image-text.col {   
    width: 33.333%;
}

.Rectangle-12 {
    background-color: #111;
  }

.d-flex button.btn{background-color: #FF7B6D;
    border-radius: 20px;
    width: 99px;
    margin-left: 15px;}
    .d-flex button.btn:hover{background:#000;color: #fff;}
.nav-item a{
    color: #fff!important;
    font-size: 17px;
}
.text-md-left {
    text-align: left !important;
    background: transparent;
    border: 1px solid #565656;
    border-radius:20px ;
    padding: 10px;
}



.footer_section{
    background-color: #111111;
}

.footer_main{
    height: 130px;
}
.footer_mid ul li{
    margin: 12px;
    list-style: none;
}
.footer_mid ul li a{
    color: #f1f1f1;
    font-size: 14px;
}
.footer_right svg{
    margin: 0 10px;
}

.footer_end{
    background-color: #292929;
    height: fit-content;
}

.footer_end p{
    color: #f1f1f1;
    padding: 26px 0px;
    font-size: 14px;
}
.footer_end p span a{
    color: #6eabef;
}

.footer_btn{
    background-color: #eed507 !important;
    padding: 10px 35px !important;
    position: absolute !important;
    right: 15px;
    /* margin-top: 1px; */
}


.side-nav li {
    padding-top: 1em;
}

.side-link {
    color: black;
    font-size: 21px;
    padding-left: 15px;
}




@media (max-width: 1024px){
    .footer_btn{
        position: relative !important;
        right: 0;
        margin-left: 5px;
    }
    
}


@media (max-width: 768px){
    .footer_mid ul{
        display: grid !important;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 0px 10px;
        padding: 20px 0 !important;
        margin: 0;
    }
    .footer_main{
        flex-direction: column;
        height: fit-content !important;
        padding: 20px 0px;
        justify-content: space-between !important;
    }
    
}

@media (max-width: 425px){
    .footer_end{
        flex-direction: column;
        padding: 0 10px;
    }
}

.faq-divider::before,.faq-divider::after{
    content: "";
    width: 62px;
    height: 2px;
    background-color: #cccccc;
    display: block;
}

.faq-divider img{
    padding: 8px;
}

@media (max-width: 1024px){
    .whyhl_row{
        /* flex-direction: column; */
        align-items: center;
    }
    .whyhl_col{
        /* border: 1px solid #d3d3d3a6; */
        box-shadow: 0 0 30px 0 #e4ebf0;
        width: fit-content !important;
        padding: 10px 0px;
    }
    .whyhl_content{
        max-width: fit-content !important;
    }
}

@media (min-width: 1025px) and (max-width:1232px){
    .whyhl_col{
        padding: 0 !important;
        margin: 0px !important;
    }

}


.extra-services{
    max-width: 1140px;
    min-height: 325px;
    margin-top: 51px;
    border-top: 1px solid #646464;
}

.img-col{
    width: 108px;
    height: 108px;
    border: 1px solid #646464;
    border-radius: 50%;
}

@media (max-width: 700px){
    .extra-services-img{
        flex-direction: column !important;
    }
}

@media (max-width: 600px){
    .img-text-class p{
        margin-left: 0px !important;
    }
}

.include-cleaning img{
    width: 360px;
    height: 210px;
}

.include-cleaning h4{
    size: 20px;
}

.include-cleaning p{
    size: 16px;
}

@media screen and (max-width: 800px){
    #Why-helperland .Why-Helperland-img-text{
        flex-direction: column !important;
    }
    #Why-helperland .content-first >div{
        text-align: left !important;
    }
    #Why-helperland .content-first{
        order: 2;
    }
    #Why-helperland .content-second{
        text-align: center;
        order: 1;
    }
    #Why-helperland .content-third{
        text-align: left !important;
        order: 3;
    }
    #Why-helperland .second-in-class h4{
        margin-top: 0px !important;
    }  
}

.why-helperland-content{
     max-width: 360px !important;   
}

.why-helperland-content-mid{
    padding: 0px !important;
}

@media (max-width: 991px){
    .why-helperland-content-mid{
        padding-left: 15px !important;
    }
}

@media (max-width: 766px){
    .why-helperland-content-mid{
        padding-left: 0px !important;
    }
    .small-src-padding-top{
        margin-top: 41px;
    }
}

@media (max-width: 360px){
    .small-src-padding-top img{
        width: 280px !important;
        padding: 15px;
    }
}


@media (max-width: 450px){

    #get-news-letter .email-submit-btn{
        flex-direction: column !important;
    }

    #get-news-letter >div{
        flex-direction: column !important;
    }
    #get-news-letter .news-letter-up-arrow{
        align-items: left;
    }
    #get-news-letter .news-letter-img{
        align-items: left !important;
    }
}

@media screen and (max-width: 1000px) {
    nav .collapse {
        display: none;
    }

    nav .navbar-toggler {
        display: none;
    }

    .table-and-siddebar>nav {
        display: none;
    }
    nav .profile-dropedown >a{
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    nav .btn {
        display: none;
    }
}

@media screen and (max-width: 1150px) {
    .nav-btn-blue a{
        width: auto;
    }
    .nav-btn a{
        width: auto;
    }
    .nav-btnn a{
        width: auto;
    }
}

.offcanvas-header{
    justify-content: right !important;
}


.vertical-line {
    content: "";
    width: 1px;
    height: 35px;
    opacity: 1;
    background-color: #cccccc;
    margin-right: 17.07px;
    margin-left: 17.07px;
}

.notification-icon{
	width: 40px !important;
	height: 40px !important;
}